body {
  margin: 0;
  font-family: 'Brush Script MT', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: calc(1px + 5vmin);
  color: black;
}
h4{
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
